<div>
  <app-navbar></app-navbar>
  <div class="content">
    <div fxLayout="row" fxLayoutAlign="end center" class="toggleBtn">
      <mat-button-toggle-group name="viewType" [value]="appView.DETAIL_VIEW" #group="matButtonToggleGroup">
        <mat-button-toggle [value]="appView.DETAIL_VIEW">Detail View</mat-button-toggle>
        <mat-button-toggle [value]="appView.BOTTLE_VIEW">Bottle View</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <app-bottle-view [data]="bottleViewData" *ngIf="group.value === appView.BOTTLE_VIEW"></app-bottle-view>
    <app-detail-view [data]="bottleViewData" *ngIf="group.value === appView.DETAIL_VIEW"></app-detail-view>
  </div>
</div>